.headsection{
    display: flex;
    justify-content: center;
    background-color: rgb(248, 210, 216);
    min-width: 300px;
    max-width: 600vh;
    color: rgb(248, 91, 117);
}

.header-text{
    display: block;
    clear:both;
}

.sunset-tree{
    clear: both;
}

.top-cloud{
    position: static;
    margin-left: 240px;
}

.bottom-cloud{
    padding-right: 240px;
}

.headsection1{
    align-self: center;
    width: 100%;
}

h1{
    color: rgb(253, 102, 127);
    font-size: 5.265rem;
    font-family: "Merienda"
}

.resume-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

h2{
    color: rgb(248, 135, 154);
    font-size: 3rem;
    font-weight: 200;
}

.profile-picture{
    margin-top: 5em;
    margin-bottom: 2em;
    height: 150px;
    border-radius: 50%;
}

.my-own-description{
    margin-top: 2em;
    font-size: 1em;
}

.resume-section1{
    min-width: 300px;
    max-width: 40%;
}

hr{
    border: dotted pink 6px;
    width: 4%;
    border-bottom: 0;
}

.my-skills{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-skills1{
    /* display: grid;
    grid-auto-rows: auto;
    grid-auto-columns: 2fr 1fr; */
    min-width: 200px;
    max-width: 500px;
}

.my-skills-h2{
    grid-column: span 2;
    text-align: center;
}

.feature-icon {
  width: 4rem;
  height: 4rem;
  border-radius: .75rem;
  background-color: rgb(255, 228, 232);
  color: rgb(84, 84, 84)
}

h3{
    color: rgb(248, 135, 154);
    font-size: 2rem;
    font-weight: 200;
}

.hr-skills{
    display:flex;
    justify-content: center;
    align-items: center;
}

.pet-projects{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-left: 1em;
    margin-right: 1em;
}

.pet-projects-body{
    text-align: center;
    min-width: 200px;
    max-width: 700px;
}

.image-pet{
    border-radius: 15%;
}

.btn-pet{
    background-color: rgb(255, 228, 232);
    color: rgb(84, 84, 84);
        --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: rgb(250, 158, 172);
    border-color: rgb(255, 228, 232);
    --bs-btn-hover-border-color: rgb(250, 158, 172);
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: rgb(251, 141, 157);
    --bs-btn-active-border-color: rgb(251, 141, 157);
}

.single-btn-pet{
    height: 70px;
}

.get-in-touch{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.get-in-touch-body{
    min-width: 200px;
    max-width: 500px;
}

.get-in-touch-paragraph{
    color: rgb(248, 116, 136);
}

.margin-left-right{
    margin-left: 2em;
    margin-right: 2em;
}

.contact-me-btn{
    background-color: rgb(255, 168, 181);
    color: rgb(255, 255, 255);
        --bs-btn-hover-color: #ff8181;
    --bs-btn-hover-bg: rgb(255, 255, 255);
    border-color: rgb(255, 228, 232);
    --bs-btn-hover-border-color: rgb(250, 158, 172);
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: rgb(251, 141, 157);
    --bs-btn-active-border-color: rgb(251, 141, 157);
    margin-top: 1em;
}

.bottom{
    margin-top: 3em;
    background-color: rgb(255, 228, 232);
}

@media (max-width: 990px) {
    .single-btn-pet{
    height: auto;
}
}

